body
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*
{
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
}
.home-page
{
  padding-top: 50px;
}
header
{
  width: 100%;
  box-sizing: border-box;
}
#myname
{
  font-size: 30px !important;
  color: black;
}

a.nav-link
{
  font-size: 25px;
  font-weight: 600;
  color: black !important;
}
a.nav-link:hover
{
  font-weight: 700;
  color: white !important;
  border-radius: 14px;
  background-color: rgba(85, 95, 240, 0.781);
  transition: .3s;
}
li
{
  padding: 0 20px;
}
.profile-picture
{
  max-width: 200px;
  border-radius: 10%;
  margin-right: 40px;
}
.sc-profilewords 
{
  margin-top: 30px;
  margin-bottom: 20px;
}
.myds
{
  font-weight: 600;
  font-size: 18px;
}
.sc-profileicons
{
  font-size: 40px;
  margin-top: 10px;
}
i
{
  margin: 0 10px 0 0;
}
a.facebook
{
  color: rgb(3, 54, 136);
  text-decoration: none;
}
a.telegram 
{
  color: rgb(36, 142, 241);
}
a.github 
{
  color: black;
}
a.linkedin
{
  color: rgb(0, 140, 255);
}
.sc-quotes 
{
  padding-top: 50px;
  padding-bottom: 100px;
}
a.cnoc:first-child
{ 
  background-color: rgb(100 156 240);
}
a.cnoc-2:hover
{
  border: 1px solid rgb(148, 139, 139);
}
.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.year
{
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: oblique;
  color: rgb(155, 153, 151);
  text-align: center;
}

/* 
Karocciii
*/
li .bla1 .bla2 
{
  list-style-type: none;
}
.list-card-image
{
  display: flex;
  width: 270px;
  height: 160px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
  margin-right: 25px;
  list-style-type: none;
}
.blog-list-li
{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px 0;
  padding: 0;

}
.post-title
{
  text-decoration: none;
}
.post_preview > a h1 h3
{
  text-decoration: none;
}