{% extends 'base.html' %}
{% block body %}
<section class="container">
  <div class="sc-profileimg d-flex">
    <img class="profile-picture" src="/static/imgs/screen.jpg" alt="Abdumannon">
    <div class="sc-profilewords">
      <h2>Abdumannon Abdurakhmanov</h2>
      <span class="myds">Software engineer, Fullstuck developer</span><br>
      <div class="sc-profileicons">
        <a href="#" class="icons facebook"><i class="fa fa-facebook-f"></i></a>
        <a href="#" class="icons telegram"><i class="fa fa-telegram"></i></a>
        <a href="#" class="icons github"><i class="fa fa-github"></i></a>
        <a href="#" class="icons linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>  
  </div>
  <div class="sc-quotes">
    <span><h2 class="quotes-words"><q><b>An old programmer in the old world</b></q></h2></span>
    <div class="sc-buttons">
      <a href="#" class="btn cnoc">Resume</a>
      <a href="#" class="btn cnoc-2">About Me</a>
    </div>
  </div>
</section>
{% endblock %}